.navbar {
  background-color: #EB984E;
}

.navbar-brand img {
  height: 4rem;
}

#behindNavBar1, #behindNavBar2, #behindNavBar3  {
  height: 120px;
}

#home-header, #storage-header, #expiry-header {
  background-color: #FDEBD0;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

#home-header h1, #storage-header h1, #expiry-header h1 {
  font-size: 40px;
}

#home-header p, #storage-header p, #expiry-header p {
  font-size: 25px;
}

#home-pointer {
  color: #FFFFFF;
  font-weight: bold;
}

#home-items .card-header, #expiry-items .card-header{
  text-align: center;
}

#accountbg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#account {
  margin-top: 42px;
}

#account .button, #add-item-button, #edit-item-button, #delete-item-button {
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 100px;
  padding: 20px 60px;
  border-style: solid;
  font-size: 1.25em;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

#sort-by-buy, #sort-by-expiry {
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 100px;
  padding: 20px 60px;
  border-style: solid;
  font-size: 1em;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

#account-text {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 25%;
  width: 100%;
}

#editAccount, #add-item-menu, #edit-item-menu, #delete-item-menu{
  padding: 2rem;
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group input {
  height: auto;
  border-radius: 2rem;
}

.form-group input,
.form-group label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
